<div class="navbar navbar-default " style="background-color: #393939; padding: 30px; ">
    <div class="container-fluid">
        <div class="navbar-header">
            <h1 class="navbar-brand text-light" style="margin-left: 18px;">Product Logo</h1>
        </div>
        <form class="d-flex" style="margin-left: 18px;">
            <a class="nav-link active text-light text-nowrap" aria-current="page"  href="#">Product</a>
            
            <a class="nav-link active text-light" aria-current="page" href="#">Cloud Services</a>
            
            <a class="nav-link active text-light" aria-current="page" href="#">Support</a>
  
            <a class="nav-link active text-light" aria-current="page" href="#">Downloads</a>
            <a class="nav-link active text-light" aria-current="page" href="#">Consulting</a>
            <a class="nav-link active text-light" aria-current="page" href="#">Partners</a>
            <a class="nav-link active text-light" aria-current="page" href="#">Company</a>
          </form>
    </div>
</div>