<div class="navbar navbar-default bg-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <!-- <img src="../../Images/maps.png" alt="image" style="width: min-content;"> -->
            <a href="#" class="navbar-brand text-light" style="margin-left:50px;">United States</a>
        </div>
        <form class="d-flex" style="margin-right:50px;">
            <a class="nav-link active text-light text-nowrap" aria-current="page"  href="#">Partner Central</a>
            <div class="vr" style="color: rgb(255, 255, 255);"></div>
            <a class="nav-link active text-light" aria-current="page" href="#">Training</a>
            <div class="vr" style="color: rgb(255, 255, 255);"></div>
            <a class="nav-link active text-light" aria-current="page" href="#">Community</a>
            <div class="vr" style="color: white;"></div>
            <a class="nav-link active text-light" aria-current="page" href="#">Store</a>
            <input class="form-control" type="search" placeholder="Search" aria-label="Search"  >
          </form>
    </div>
</div>